doctype html

meta(charset='UTF-8')
title= title
meta(name='description', content='スマブラ専門個人ポータルサイトです。スマブラ関係の情報を収集するのに便利な自分だけの Web ページを作成できます。')
meta(name='keywords', content='スマブラ,大乱闘スマッシュブラザーズ,スマポ,スマコム,スマブラ情報')
meta(name="viewport", content="width=device-width, initial-scale=1.0")
link(rel='shortcut icon', href='/favicon.ico')

// STYLES
link(rel="stylesheet", href="/linker/css/bootstrap.min.css")
link(rel="stylesheet", href="/linker/css/logo.css")
link(rel="stylesheet", href="/linker/css/tips.css")
link(rel="stylesheet", href="/linker/css/widget.css")
// STYLES END

noscript: h1.text-danger このページでは JavaScript が必須です！

header.navbar.navbar-default.navbar-fixed-top
  .container-fluid

    .navbar-header
      // 画面幅が短い時に表示される開閉ボタン
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-items')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      // ロゴ
      a.navbar-brand(href='/')= title

    // トグル可能なナビゲーション要素
    .collapse.navbar-collapse#navbar-items
      // リンク
      ul.nav.navbar-nav
        li: a(href='/auth/signin') ログイン
        li: a(href='/user/new') アカウント作成
        li: a(href='/hello') このサイトについて
        //- - if (user === undefined || user === null)
        //-   li: a(href='/user/login') ログイン
        //-   li: a(href='/user/create') アカウント作成
        //-   li: a(href='/hello') このサイトについて
        //- - else
        //-   li.dropdown
        //-     a.dropdown-toggle(href='#' data-toggle='dropdown')
        //-       span.glyphicon.glyphicon-cloud
        //-       |  新規作成 <b class="caret"></b>
        //-     ul.dropdown-menu
        //-       li: a(href='/help/hatenablog') <small>日記</small> はてなブログ
        //-       li: a(href='/help/zusaar') <small>オフ会</small> Zusaar
        //-       li: a(href='/help/twitch') <small>生放送</small> Twitch
        //-       li: a(href='/help/twitter') <small>一行宣伝</small> Twitter
        //-   li: a(href='/user/#{ user.id }')
        //-     span.glyphicon.glyphicon-user
        //-     |  プロフィール
        //-   li.dropdown
        //-     a.dropdown-toggle(href='#' data-toggle='dropdown')
        //-       span.glyphicon.glyphicon-cog
        //-       |  設定 <b class="caret"></b>
        //-     ul.dropdown-menu
        //-       li: a(href='/help/hatenablog') <small>日記</small> はてなブログ
        //-       li: a(href='/help/zusaar') <small>オフ会</small> Zusaar
        //-       li: a(href='/help/twitch') <small>生放送</small> Twitch
        //-       li: a(href='/help/twitter') <small>一行宣伝</small> Twitter
        //-   li: a(href='/auth/logout')
        //-     span.glyphicon.glyphicon-log-out
        //-     |  ログアウト
      //- // 検索ボックス
      //- form.navbar-form.navbar-right(action='/user/search')
      //-   .form-group
      //-     input.form-control(name='username', type='text', placeholder='探したいメンバー')
      //-   button.btn.btn-default(type='submit')
      //-     span.glyphicon.glyphicon-search
      //-     |  検索


block heading

.container
  .row.flash-message-box
  block content

footer.footer-information.text-center.text-muted
  .container
    .row
      h4
        = title
        |  <small>スマブラ専門 個人ポータルサイト</small>
      ul.nav.nav-pills.nav-justified
        li: a(href='/hello')
          = title
          | について
        li: a(href='/userlist') 全ユーザーリスト
        li: a(href='/news/all') 全新着一覧
        li: a(href='//github.com/KoharaKazuya/smapo') GitHub
        li: a(href='/support/report') バグ報告

script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.0/jquery.cookie.min.js')
script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
// SCRIPTS
script(type="text/javascript", src="/linker/js/form_old_input.js")
script(type="text/javascript", src="/linker/js/header.js")
script(type="text/javascript", src="/linker/js/mainform.js")
script(type="text/javascript", src="/linker/js/news.js")
script(type="text/javascript", src="/linker/js/userlist.js")
// SCRIPTS END
block script
// Google Analytics
script
  :js
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-49903910-1', 'ssbp.info');
    ga('send', 'pageview');
