doctype html

title= title
meta(name="viewport", content="width=device-width, initial-scale=1.0")
link(rel='shortcut icon', href='/favicon.ico')

link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
link(rel='stylesheet', href='/stylesheets/style.css')
// STYLES
link(rel="stylesheet", href="/linker/css/tips.css")
// STYLES END

header.navbar.navbar-default.navbar-fixed-top
  .container-fluid

    .navbar-header
      // 画面幅が短い時に表示される開閉ボタン
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='navbar-items')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      // ロゴ
      a.navbar-brand(href='/')= title

    // トグル可能なナビゲーション要素
    .collapse.navbar-collapse#navbar-items
      // リンク
      ul.nav.navbar-nav
        li: a(href='/user/login') ログイン
        li: a(href='/user/new') アカウント作成
        li: a(href='/support/hello') このサイトについて
        //- - if (user === undefined || user === null)
        //-   li: a(href='/user/login') ログイン
        //-   li: a(href='/user/create') アカウント作成
        //-   li: a(href='/support/hello') このサイトについて
        //- - else
        //-   li.dropdown
        //-     a.dropdown-toggle(href='#' data-toggle='dropdown')
        //-       span.glyphicon.glyphicon-cloud
        //-       |  連携サービス <b class="caret"></b>
        //-     ul.dropdown-menu
        //-       li: a(href='/help/hatenablog') <small>日記</small> はてなブログ
        //-       li: a(href='/help/zusaar') <small>オフ会</small> Zusaar
        //-       li: a(href='/help/twitch') <small>生放送</small> Twitch
        //-       li: a(href='/help/twitter') <small>一行宣伝</small> Twitter
        //-   li: a(href='/user/#{ user.id }')
        //-     span.glyphicon.glyphicon-user
        //-     |  プロフィール
        //-   li.dropdown
        //-     a.dropdown-toggle(href='#' data-toggle='dropdown')
        //-       span.glyphicon.glyphicon-cog
        //-       |  設定 <b class="caret"></b>
        //-     ul.dropdown-menu
        //-       li: a(href='/help/hatenablog') <small>日記</small> はてなブログ
        //-       li: a(href='/help/zusaar') <small>オフ会</small> Zusaar
        //-       li: a(href='/help/twitch') <small>生放送</small> Twitch
        //-       li: a(href='/help/twitter') <small>一行宣伝</small> Twitter
        //-   li: a(href='/user/logout')
        //-     span.glyphicon.glyphicon-log-out
        //-     |  ログアウト
      // 検索ボックス
      form.navbar-form.navbar-right(action='/user/search')
        .form-group
          input.form-control(name='username', type='text', placeholder='探したいメンバー')
        button.btn.btn-default(type='submit')
          span.glyphicon.glyphicon-search
          |  検索


block heading

.container
  block content

footer.footer-information.text-center.text-muted
  .container
    .row
      h4
        = title
        |  <small>スマブラ専門 個人ポータルサイト</small>
      ul.nav.nav-pills.nav-justified
        li: a(href='/support/hello')
          = title
          | について
        li: a(href='/user') 全ユーザーリスト
        li: a(href='//github.com/KoharaKazuya/smapo') GitHub
        li: a(href='//') バグ報告

script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js')
script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
// SCRIPTS
script(type="text/javascript", src="/linker/js/header.js")
// SCRIPTS END
block script
