extends ../layout

block script
  script
    :coffee
      # display user info
      jQuery.ajax
        dataType: 'json'
        url: '/user/me'
        success: (user) ->
          $ ->
            for name in ['hatenablog', 'zusaar', 'twitch', 'twitter', 'skype', 'nicovideo', 'youtube']
              form_old_input name, user
            $('.main-form').attr 'data-url', '/user/' + user_id
            $('.main-form button:contains(確認)').on 'click', () ->
              url = $(@).attr('data-url').replace '___id___', $(@).parent().prev().val()
              window.open url
        error: ->
          alert 'ユーザーデータを取得できません'

block content
  h2.page-header 連携サービス設定
  .row
    .col-md-12
      form.form-horizontal.main-form(action='javascript:void(0)', accept-charset='utf-8', data-method='put')
        input(type='hidden', name='_csrf', value='#{ _csrf }')

        fieldset
          legend ブログ
          .form-group
            label.col-md-3.control-label(for='hatenablog') はてなブログ <a href="//hatenablog.com"><span class="glyphicon glyphicon-link"></span></a> <a href="/help/hatenablog"><span class="glyphicon glyphicon-question-sign"></span></a>
            .col-md-9
              .input-group
                input.form-control#hatenablog(name='hatenablog', placeholder='はてなブログの ID')
                span.input-group-btn
                  button.btn.btn-default(type='button', data-url='//___id___.hatenablog.com') 確認

        fieldset
          legend オフ会
          .form-group
            label.col-md-3.control-label(for='zusaar') Zusaar <a href="//www.zusaar.com"><span class="glyphicon glyphicon-link"></span></a> <a href="/help/zusaar"><span class="glyphicon glyphicon-question-sign"></span></a>
            .col-md-9
              .input-group
                input.form-control#zusaar(name='zusaar', placeholder='Zusaar ID')
                span.input-group-btn
                  button.btn.btn-default(type='button', data-url='//www.zusaar.com/user/___id___') 確認

        fieldset
          legend 生放送
          .form-group
            label.col-md-3.control-label(for='twitch') Twitch <a href="//ja.twitch.tv"><span class="glyphicon glyphicon-link"></span></a> <a href="/help/twitch"><span class="glyphicon glyphicon-question-sign"></span></a>
            .col-md-9
              .input-group
                input.form-control#twitch(name='twitch', placeholder='Twitch ID')
                span.input-group-btn
                  button.btn.btn-default(type='button', data-url='//ja.twitch.tv/___id___') 確認

        fieldset
          legend ネット対戦募集 or 一行宣伝
          .form-group
            label.col-md-3.control-label(for='twitter') Twitter <a href="//twitter.com"><span class="glyphicon glyphicon-link"></span></a> <a href="/help/twitter"><span class="glyphicon glyphicon-question-sign"></span></a>
            .col-md-9
              .input-group
                input.form-control#twitter(name='twitter', placeholder='Twitter ID (@ は除く)')
                span.input-group-btn
                  button.btn.btn-default(type='button', data-url='//twitter.com/___id___') 確認
        fieldset
          legend 動画
          .form-group
            label.col-md-3.control-label(for='youtube') YouTube <a href="//www.youtube.com"><span class="glyphicon glyphicon-link"></span></a> <a href="/help/youtube"><span class="glyphicon glyphicon-question-sign"></span></a>
            .col-md-9
              .input-group
                input.form-control#youtube(name='youtube', placeholder='YouTube ID (Google アカウント名)')
                span.input-group-btn
                  button.btn.btn-default(type='button', data-url='//www.youtube.com/user/___id___') 確認
          .form-group
            label.col-md-3.control-label(for='nicovideo') ニコニコ動画 <a href="//www.nicovideo.jp"><span class="glyphicon glyphicon-link"></span></a>
            .col-md-9
              .input-group
                input.form-control#nicovideo(name='nicovideo', placeholder='ニコニコ動画 ユーザー ID')
                span.input-group-btn
                  button.btn.btn-default(type='button', data-url='//www.nicovideo.jp/user/___id___') 確認

        fieldset
          legend その他 <small>(連携なし)</small>
          .form-group
            label.col-md-3.control-label(for='skype') Skype <a href="//www.skype.com"><span class="glyphicon glyphicon-link"></span></a>
            .col-md-9
              .input-group
                input.form-control#skype(name='skype', placeholder='Skype ID')
                span.input-group-btn
                  button.btn.btn-default(type='button', disabled='disabled') 確認

        .form-group
          .col-md-offset-3.col-md-9
            input.btn.btn-primary(type='submit' value='変更')
