.loading {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  border: 5px solid #999;
  border-right-color: transparent;
  animation: spin 1s linear infinite;
  -webkit-animation: spin 1s linear infinite;
  display: inline-block;
  float: right;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
