extends ../layout

block script
  script
    :coffee
      jQuery.ajax '/user/me',
        dataType: 'json'
        success: (me) ->
          jQuery.ajax '/follow',
            data:
              user_id: me.id
            success: (follows) ->
              location.href = '/help/usage' if follows.length is 0
            error: () ->
              jQuery.get '/auth/logout', () ->
                location.href = '/auth/signin'
        error: () ->
          location.href = '/hello'

      generateWidgetHatenablog null, 5
      generateWidgetUser 3
      generateWidgetZusaar null, 5
      generateWidgetTwitch null, 10
      generateWidgetTwitter null, 10
      generateWidgetVideo null, 3

block content
  // 上部 全面
  .row
    h2.page-header 告知
    p
      a(href="http://www.smashbros.com/jp/") 大乱闘スマッシュブラザーズ for Nintendo 3DS
      |  が 2014/09/13 に発売です。
    p: small.text-info この欄では運営からのお知らせや、大規模イベントや新作情報などの重要な情報が記載されます。
  // 下部
  .row
    h2.page-header 新着情報
    // 下部 左
    .col-md-4
      #blog.panel.panel-default
        .panel-heading
          h3.panel-title 日記
        ul.news
          li
            a(href='/news/blog')
              small.pull-right もっと見る
      #user.panel.panel-default
        .panel-heading
          h3.panel-title ユーザー
        ul.news
          li
            a(href='/userlist')
              small.pull-right もっと見る
    // 下部 中央
    .col-md-4
      #event.panel.panel-default
        .panel-heading
          h3.panel-title オフ会
        ul.news
          li
            a(href='/news/event')
              small.pull-right もっと見る
      #flash.panel.panel-default
        .panel-heading
          h3.panel-title ネット対戦募集 or 一行宣伝
        ul.news
          li
            a(href='/news/flash')
              small.pull-right もっと見る
    // 下部 右
    .col-md-4
      #live.panel.panel-default
        .panel-heading
          h3.panel-title 生放送
        ul.news
          li
            a(href='/news/live')
              small.pull-right もっと見る
      #video.panel.panel-default
        .panel-heading
          h3.panel-title 動画
        ul.news
          li
            a(href='/news/video')
              small.pull-right もっと見る
