extends ../layout

block script
  script
    :coffee
      jQuery.get '/widget/hatenablog', (entries) ->
        $ul = $('#blog ul')
        for entry in entries
          $li = $('<li>')
          $li.append $('<a>').append($('<img>').addClass('user-icon'))
          date = new Date(entry.time)
          $li.append $('<a>').attr('href', entry.link).append(
            $('<h5>').text(' ' + entry.title).prepend($('<small>').text("#{date.getMonth() + 1}/#{date.getDate()}"))
            $('<p>').text(entry.summary)
          )
          $ul.prepend $li

block content
  // 上部 全面
  .row
    h2.page-header 告知
    p テスト稼働中です。
  // 下部
  .row
    h2.page-header 新着情報
    // 下部 左
    .col-md-4
      #blog.panel.panel-default
        .panel-heading
          h3.panel-title 日記
        ul.news
          li
            a(href='#')
              small.pull-right もっと見る
    // 下部 中央
    .col-md-4
      #event.panel.panel-default
        .panel-heading
          h3.panel-title オフ会
        ul.news
          li
            a(href='#')
              small.pull-right もっと見る
      #flash.panel.panel-default
        .panel-heading
          h3.panel-title ネット対戦募集 or 一行宣伝
        ul.news
          li
            a(href='#')
              small.pull-right もっと見る
    // 下部 右
    .col-md-4
      #live.panel.panel-default
        .panel-heading
          h3.panel-title 生放送
        ul.news
          li
            a(href='#')
              small.pull-right もっと見る
