extends ../layout

block content
  h2.page-header スマブラポータル ロゴ
  .row
    .col-md-12
      h3 SVG 画像
      ul
        li: a(href='/images/brand/Portal.svg') スマブラポータル (白抜き)
        li: a(href='/images/brand/Portal-inverse.svg') スマブラポータル (背景透過)
        li: a(href='/images/brand/P.svg') スマブラポータル マーク
      h3 PNG 画像
      ul
        li: a(href='/images/brand/Portal_300x100.png') スマブラポータル (白抜き) 標準サイズ
        li: a(href='/images/brand/Portal-inverse_300x100.png') スマブラポータル (背景透過) 標準サイズ
        li: a(href='/images/brand/P_64x64.png') スマブラポータル マーク アイコン画像サイズ
      h3 ICO 画像
      ul
        li: a(href='/favicon.ico') ファビコン
