extends ../layout

block content
  h2.page-header 確認メールを送る
  p ログインできるようにするためには、確認メールを受け取る必要があります。
  p 確認メールが届かない場合は迷惑メール/スパム扱いとなっていないか確認して下さい。
  form.form-horizontal.main-form(action='javascript:void(0)', accept-charset='utf-8', data-url='/auth/confirmationmail')
    input(type='hidden', name='_csrf', value='#{ _csrf }')
    fieldset
      .form-group
        label.col-md-3.control-label(for='email') メールアドレス
        .col-md-9
          input.form-control#email(type='email', name='email', placeholder='メールアドレス')
      .form-group
        .col-md-offset-3.col-md-9
          button.btn.btn-primary メールを送信する
