extends ../layout

block script
  script
    :coffee
      jQuery.ajax
        url: '/user'
        success: (data) ->
          $('#usernum').text data.length

block heading
  .logo.portal-logo
    .container
      h1.brand: img.img-responsive(src='/images/brand/Portal_354x200.png', alt=title)
      p スマブラ専門 個人ポータルサイト <a href="/support/brand" style="color: #a00;">■</a>

block content
  p
    | 友だちが公開しているブログ、生放送、対戦募集などを見てみましょう。
    a(href="/news/all") （サンプルページはこちら）
  p
    a.btn.btn-default.btn-sm(href='/auth/signin') ログイン
    | するか
    a.btn.btn-primary.btn-sm(href='/user/new') アカウントを作成
    | して下さい。
  p
    | 現在の登録者数：
    span.badge#usernum
    br
    a(href='/userlist') 登録してるユーザーを見る
