extends ../layout

block script
  script
    :coffee
      generateWidgetHatenablog 'all'
      generateWidgetZusaar 'all'
      generateWidgetTwitch 'all'
      generateWidgetTwitter 'all'

block content
  h2.page-header 全新着一覧
  .row
    .col-md-12
      #blog.panel.panel-default
        .panel-heading
          h3.panel-title 日記
        ul.news
          li
      #event.panel.panel-default
        .panel-heading
          h3.panel-title オフ会
        ul.news
          li
      #flash.panel.panel-default
        .panel-heading
          h3.panel-title ネット対戦募集 or 一行宣伝
        ul.news
          li
      #live.panel.panel-default
        .panel-heading
          h3.panel-title 生放送
        ul.news
          li
