extends ../layout

block script
  script
    :coffee
      jQuery.get '/widget/twitch?count=5', (entries) ->
        $ul = $('#live ul')
        for entry in entries
          $li = $('<li>')
          $li.append $('<a>').append($('<img>').addClass('user-icon').attr('src', if entry.user_icon? and entry.user_icon != '' then entry.user_icon else '/images/icon/404_smashball.png')).attr('href', '/profile/' + entry.user_id)
          date = new Date(entry.time)
          $li.append $('<a>').attr('href', entry.link).append(
            $('<h5>').text(' ' + entry.title).prepend($('<small>').text(entry.game))
          )
          $ul.prepend $li

block content
  h2.page-header 全生放送一覧
  .row
    .col-md-12
      #live.panel.panel-default
        .panel-heading
          h3.panel-title 生放送
        ul.news
          li
