extends ../../layout

block script
  script
    :coffee
      generateWidgetTwitch 'all'

block content
  h2.page-header 全生放送一覧
  .row
    .col-md-12
      #live.panel.panel-default
        .panel-heading
          h3.panel-title 生放送
        ul.news
          li
